@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hyundai Israel</h1>
    <p class="lead"><img class="img-thumbnail" src="~/images/one.jpg" /></p>
    <p><a href="#" class="btn btn-primary btn-lg">עוד דגמים &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>טיפולים</h2>
        <p>
            לורם איפסום דולור סיט אמט,
            קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, הועניב היושבב שערש שמחויט -
            שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש,
            כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.
        </p>
        <p><a class="btn btn-default" href="#">קרא עוד &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>בדיקה חינם</h2>
        <p>
            לורם איפסום דולור סיט אמט,
            קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, הועניב היושבב שערש שמחויט -
            שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש,
            כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

        </p>
        <p><a class="btn btn-default" href="#">קרא עוד &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>חבר מועדון</h2>
        <p>
            לורם איפסום דולור סיט אמט,
            קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, הועניב היושבב שערש שמחויט -
            שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש,
            כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

        </p>
        <p><a class="btn btn-default" href="#">קרא עוד &raquo;</a></p>
    </div>
</div>